{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>

        {% block extra_head %}{% endblock extra_head %}
    <title>{% block title %}main{% endblock title %}</title>
</head>
<body>
<div id="content">
    {% block content %}
    <h2>42 Coffee Cups Test Assignment</h2><h2><a href="/request">HTTP requests</a></h2>
    <p><b>Name: </b>{{ first_name }}</p>
    <p><b>Last name: </b>{{ last_name }}</p>
    <p><b>Date of birth: </b>{{ date_birth }}</p>
    <p><b>Bio: </b>{{ bio }}</p>
    <h3>Contacts</h3>
    <p><b>Email: </b>{{ email }}</p>
    <p><b>Jabber: </b>{{ jabber }}</p>
    <p><b>Skype: </b>{{ skype }}</p>
    <p><b>Other contacts: </b>{{ other_contacts }}</p>
    {% endblock content %}
</div>
</body>
</html>