{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{% static "js/main.js" %}"></script>
{% endblock extra_head %}
{% block content %}
    <div id="forms">
        <form id="edit_user_form" action="/edit/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="results"></div>
            <input class="button" type="submit" value="Изменить">
        </form>
    </div>
{% endblock %}
